node_modules/
out/
dist/
release/
coverage/
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
.idea/
.vscode/*
!.vscode/extensions.json
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal
